body,
p,
form,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
input {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 200px;
  padding: 20px;
  color: blue;
}

.App-result {
  display: none;
}

.App-header-search {
  height: 50px;
  width: 140px;
  padding: 5px;
  float: left;
}

.App-content-search {
  height: 50px;
  width: 650px;
  padding: 5px;
  float: left;
}

.App-result-search {
  clear: left;
  text-align: left;
  margin: 10px;
}

.App-intro {
  font-size: large;
  background-color: #333;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
