<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loeo.schedule.mapper.ScheduleMapper">
	<resultMap id="ScheduleMap" type="com.loeo.schedule.domain.entity.Schedule">
		<id column="id" property="id" jdbcType="CHAR"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="is_enabled" property="enabled" jdbcType="BIT"/>
		<result column="descr" property="descr" jdbcType="VARCHAR"/>
		<result column="creator" property="creator" jdbcType="CHAR"/>
		<result column="created" property="created" jdbcType="TIMESTAMP"/>
		<result column="updater" property="updater" jdbcType="CHAR"/>
		<result column="updated" property="updated" jdbcType="TIMESTAMP"/>
	</resultMap>

</mapper>
