.search-item-container {
  font-family: arial;
  width: 538;
  font-size: 13px;
  word-wrap: break-word;
  word-break: break-word;
  line-height: 1.54;
  margin-bottom: 14px;
  border-collapse: collapse;
  table-layout: fixed;
}

.search-item-title {
  font-weight: 400;
  font-size: medium;
}

.search-item-content {
  font-size: 13px;
}

.search-item-footer {
  font-size: 13px;
}
