<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loeo.mapper.SysPrivilegeMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.loeo.entity.SysPrivilege">
		<id column="id" property="id"/>
		<result column="master" property="master"/>
		<result column="masterValue" property="masterValue"/>
		<result column="access" property="access"/>
		<result column="accessValue" property="accessValue"/>
		<result column="operation" property="operation"/>
		<result column="createUser" property="createUser"/>
		<result column="createDt" property="createDt"/>
		<result column="updateUser" property="updateUser"/>
		<result column="updateDt" property="updateDt"/>
	</resultMap>
	<delete id="deleteByMasterAndValue">
		delete from t_sys_privilege where master=#{master} and masterValue=#{masterValue}
	</delete>
	<select id="getResources" resultType="com.loeo.entity.SysResource">
		SELECT
			CASE
			when p.id is not NULL then "true"  end as checked,
			r.*
		FROM
			t_sys_resource r
			LEFT JOIN t_sys_privilege p ON p.accessValue = r.id
										   AND p.`master` = #{master}
										   AND p.masterValue = #{masterValue} order by r.orde
	</select>

</mapper>
