<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loeo.mapper.SysPrivilegeMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.loeo.domain.entity.SysPrivilege">
		<id column="id" property="id"/>
		<result column="master" property="master"/>
		<result column="masterValue" property="masterValue"/>
		<result column="access" property="access"/>
		<result column="accessValue" property="accessValue"/>
		<result column="operation" property="operation"/>
		<result column="create_user" property="createUser"/>
		<result column="created" property="created"/>
		<result column="update_user" property="updateUser"/>
		<result column="updated" property="updated"/>
	</resultMap>
	<delete id="deleteByMasterAndValue">
		delete from sys_privilege where `master`=#{master} and master_value=#{masterValue}
	</delete>
	<select id="getResources" resultType="com.loeo.domain.entity.SysResource">
		SELECT
			CASE
			when p.id is not NULL then "true"  end as checked,
			r.*
		FROM
			sys_resource r
			LEFT JOIN sys_privilege p ON p.access_value = r.id
										 AND p.`master` = #{master}
										 AND p.master_value = #{masterValue} order by r.orde
	</select>

</mapper>
