<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loeo.mapper.SysResourceMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.loeo.domain.entity.SysResource">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="api" property="api"/>
		<result column="method" property="method"/>
		<result column="type" property="type"/>
		<result column="pid" property="pid"/>
		<result column="descp" property="descp"/>
		<result column="icon_cls" property="iconCls"/>
		<result column="script" property="script"/>
		<result column="created" property="created"/>
		<result column="create_user" property="createUser"/>
		<result column="updated" property="updated"/>
		<result column="update_user" property="updateUser"/>
		<result column="enable" property="enable"/>
		<result column="leaf" property="leaf"/>
		<result column="orde" property="orde"/>
	</resultMap>
	<select id="getAuthorisedButtonsByMenuId" resultType="com.loeo.domain.entity.SysResource">
		SELECT
			DISTINCT allb.*
		FROM
			(
				SELECT
					*
				FROM
					sys_resource
				WHERE
					pid = #{menuId}
					AND type = 2
			) allb
			JOIN (
					 SELECT
						 p.*
					 FROM
						 sys_privilege p,
						 (
							 SELECT
								 r.*
							 FROM
								 sys_role r,
								 sys_user_role ur,
								 sys_user u
							 WHERE
								 r.id = ur.role_id
								 AND ur.user_id = u.id
								 AND u.id = 1
						 ) ro
					 WHERE
						 p.`master` = 'role'
						 AND p.master_value = ro.id
						 AND p.access = 2
					 union
					 select * from sys_privilege p1 where p1.`master`='user' and p1.master_value=#{userId} and p1.access=2
				 ) b ON allb.id = b.access_value;
	</select>

</mapper>
