<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loeo.mapper.SysUserRoleMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.loeo.domain.entity.SysUserRole">
		<id column="user_id" property="userId"/>
		<result column="role_id" property="roleId"/>
	</resultMap>
	<insert id="saveUserRoles">
		insert into sys_user_role (user_id, role_id) VALUES
		<foreach collection="roles" item="role" separator=",">
			(#{userId},#{role.id})
		</foreach>
	</insert>

</mapper>
