<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loeo.mapper.SysUserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.loeo.domain.entity.SysUser">
		<id column="id" property="id"/>
		<result column="username" property="username"/>
		<result column="password" property="password"/>
		<result column="nickname" property="nickname"/>
		<result column="age" property="age"/>
		<result column="birthday" property="birthday"/>
		<result column="sex" property="sex"/>
		<result column="avatar" property="avatar"/>
		<result column="email" property="email"/>
		<result column="phone" property="phone"/>
		<result column="org_id" property="orgId"/>
		<result column="created" property="created"/>
		<result column="create_user" property="createUser"/>
		<result column="updated" property="updated"/>
		<result column="update_user" property="updateUser"/>
		<result column="enable" property="enable"/>
	</resultMap>
	<select id="findUserMenus" resultType="com.loeo.domain.entity.SysResource">
		SELECT
			DISTINCT re.*
		FROM
			sys_role r,
			sys_user_role ur,
			sys_resource re,
			sys_privilege p
		WHERE
			ur.user_id = #{userId}
			AND r.id = ur.role_id
			AND (re.type = 0 or re.type = 1)
			AND (
				((p.`master` = 'role'
				  AND p.master_value = r.id) OR (p.`master` = 'user' AND p.master_value = #{userId}))
				AND p.access_value = re.id
			)
	</select>

</mapper>
